*{
    margin: 0;
    padding: 0;
    list-style-type: none; 
    box-sizing: border-box;
    text-decoration: none; /* Elimina el subrayado */
}
body{
    max-width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #222;  
    max-width: 1400;
    color: #ffffff;
    min-width: 560px;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(Photo\ Wallpaper\ 3.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    display: flex;
    text-align: left;  
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 35px 30px; 
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.5s ease;
    position: fixed;
    text-align: center;
}
nav ul {
    float: right;
    margin-right: 20px;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 20px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 3px;
    font-size: 25px;
}
nav a:hover{
    background-color: #222;
    text-transform: .3s;
}
.nav.active{
    background-color: rgba(255, 255, 255, 0.524);
}
.nav.active .logo{
    font-size: 42px;
    transition: all 0.3s ease;
    color: #222;
}
nav.nav.active a{
    font-size: 26px;  
    transition: all 0.3s ease;
    color: #222;
}
nav.nav.active a:hover{
    color: white;
}
.scrol{
    height: 1000px;
}
.scrol2{
    height: 200px;
}
@media screen and (max-width: 730px){
    .logo{
        display: none;
    }
}





.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}
.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.Foto-de-Perfil{
    flex: 1;
    margin-right: 0px;
    overflow: hidden;
}
.Foto-de-Perfil img{
    max-width: 60%;
    min-width: 180px;
    margin-left: 20%;
    height: auto;
    display: block;
    transition: 0,5s ease; 
    border: #f4f4f4 solid 5px;
    padding: 5px;
    border-radius: 40px;
}
.biografia{
    flex: 1;
}
.biografia h2{
    text-align: center;
    font-size: 30px;
}
.biografia p{
    text-align: center;
    font-size: 20px;
}





.proyectos{
    text-align: center;
}
.sobre-mi{
    text-align: center;
}
.contacto{
    text-align: center;
}
