*{
    margin: 0;
    padding: 0;
    list-style-type: none; 
    box-sizing: border-box;
    text-decoration: none; /* Elimina el subrayado */
}
body{
    max-width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #222;  
    max-width: 1400;
    color: #ffffff;
    min-width: 350px;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(Photo\ Wallpaper\ 3.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    display: flex;
    text-align: left;  
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 35px 30px; 
}

.nav{
    /* text-align: center;
    align-content: center;
    border: 1px solid #ccc;
    background-color: rgba(139, 133, 133, 0);
    height: 80%;
    width: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: all 0.5s ease;
    position: fixed;
}
nav ul {
    float: right;
    margin-right: 20px;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 20px 20px;
}
nav ul li a{
    color: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 3px;
    font-size: 25px;
}
nav a:hover{
    background-color: #222;
    text-transform: .3s;
}
.nav.active{
    background-color: rgba(255, 255, 255, 0.524);
}
.nav.active .logo{
    font-size: 42px;
    transition: all 0.3s ease;
    color: #222;
}
nav.nav.active a{
    font-size: 26px;  
    transition: all 0.3s ease;
    color: #222;
}
nav.nav.active a:hover{
    color: white;
}
.scrol{
    height: 1000px;
}
.scrol2{
    height: 200px;
}









.inicio{
    border-radius: 3px;
    text-align: center
    
}
.inicio .bio{
    min-width: 300px;
}
.proyectos{
    text-align: center;
}
.sobre-mi{
    text-align: center;
}
.contacto{
    text-align: center;
}
